<!doctype html>
<html>
<head>
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <form action="/edit/{{ item.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ item.name }}">
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ item.description }}</textarea>
        <br>
        <button type="submit">Update</button>
    </form>
    <a href="/">Back</a>
</body>
</html>
